*{
  margin:0;
  padding:0;
}
/* Hero Page content */
.hero-image{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/hans-vivek.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;

  width:100vw;
  height:100vh;
}
.hero-content,.hero-content a{
  color:#FFFFFF;
}
.hero-content h1{
  font-size:80px;
  margin-top:150px;
}
.hero-content a{
  background-color:#6C8C80;
  border-radius:10px;
  display:block;
  font-size:24px;
  padding:1em;
  margin:50px auto 0;
  text-decoration:none;
  width:150px;
}
/*Index page css*/
.header-subscribe{
  background-color:black;
  font-family:roboto;
  padding:10px
}
.header-subscribe p,.header-subscribe a{
  color:#FFFFFF;
  display:inline;
}
.header-subscribe p {
  margin-left:30px;
}
.header-subscribe a{
  float:right;
  margin-right:35px;
  text-decoration:none;
}
