*{
  margin:0;
  padding:0;
  font-family:roboto,sans-serif;
}

/* Hero Page content */
.hero-image{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(images/hans-vivek.jpg);
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;

  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;

  width:100vw;
  height:100vh;
}
.hero-content,.hero-content a{
  color:#FFFFFF;
}
.hero-content h1{
  font-size:80px;
  margin-top:150px;
}
.hero-content a{
  background-color:#6C8C80;
  border-radius:10px;
  display:block;
  font-size:24px;
  padding:1em;
  margin:50px auto 0;
  text-decoration:none;
  width:150px;
}
/*Index content starts here*/

/*Header Section*/
.header{
  background:#26221F;
  color:#FFFFFF;
  padding:20px;
  overflow:hidden;
}
.header p{
  float:left;
}
.header a,.mail{
  float:right;
  text-decoration:none;
}
.header p,.header a{
  color:#FFFFFF;
}
/*Navigation section*/
.mid-nav{
  background-color:#D9C7C1;
  padding:20px;
}
.logo-txt{
  color:#FFFFFF;
  font-size:25px;
  font-weight:bold;
  text-decoration:none;
}
.search-bar{
  margin-left:100px;
  height:30px;
  width:350px;
}
.cart{
  background-color:#8C5E4D;
  color:#FFFFFF;
  float:right;
  text-decoration:none;
}
label{
  font-size:26px;
  display:none;
}
#toggle-nav{
  display:none;
}
.nav-links{
  border-bottom:1px solid #D3D3D3;
}
.nav-links ul{
  padding:20px;
}
.nav-links li{
  display:inline;
}
.nav-links a{
  margin:0 20px;
  text-decoration:none;
}
@media screen and (max-width:767px){
  .header p{
    font-size:15px;
    text-align:center;
  }
  .header p,.cart{
    float:none;
  }
  .header a,.logo-txt,.search-bar{
    display:none;
  }
  .mid-nav{
    padding:0;
  }
  label{
    display:block;
  }
  .nav-links{
    display:none;
  }
  .nav-links li{
    display:block;
    padding:20px;
  }
  #toggle-nav:checked + .nav-links{
    display:block;
  }
}
