body{
  background-color:#fefefa;
}
header{
  background:#55A6A6;
  width:100%;
  height:35px;
}
.page-wrap{
  padding:2em 0;
}
.widget{
  list-style-type:none;
  margin:0;
  padding:0;
}
nav{
  background:#EF8476;
  width:100%;
  height:75px;
}
nav .container{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  height:100%;
}
nav .top-bar{
  list-style-type:none;
  margin:0 100px;
  padding:0;
  display:flex;
}
nav .top-bar li a{
  padding:25rem 1rem;
  color:#ffffff;
  text-decoration:none;
}
nav .top-bar li:first-child a{
  padding-left:0;
}
nav .top-bar li:last-child a{
  padding-right:0;
}

nav .top-bar li a:hover{
  color:#5BA6A7;
}
.site-name{
  color:#ffffff;
  text-decoration:none;
}
.search-form{
  display:flex;
  margin:0 100px;

}
.search-input{
  border:1px solid #ffffff;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;
}
.search-input::placeholder{
  padding-left:10px;
}
.search-button{
  color:#ffffff;
  background-color:#5BA6A7;
  border:1px solid #5BA6A7;
  border-top-right-radius:8px;
  border-bottom-right-radius:8px;
}
.search-icon{
  padding-top:2px;
  padding-bottom:2px;
}
.header-image{
  width:100%;
}
.header-image img{
  width:100%;
  height:300px;
}
.mobile-top-bar{
  display:none;
}
/*Footer style starts here*/
footer{
  background:#55A6A6;
  width:100%;
}
footer .container{
  display:flex;
  height:100%;
  justify-content:center;
}
footer .site-name{
  margin: 20px 30px;
  line-height:150px;
  vertical-align:middle;
  font-size:20px;
}
footer .footer-bar{
  list-style:none;
  margin:20px 35px;
}
footer .footer-bar li{
  padding-top:5px;
}
footer .footer-bar li a{
  color:#ffffff;
  text-decoration:none;
}
.footer-widget-column-1, .footer-widget-column-2{
  margin:20px 35px;
}
.footer-widget-column-3{
  margin:80px 30px;
}
.footer-widget-column-3 .search-button{
  background:#EF8476;
  border:1px solid #EF8476;
}
.footer-widget-column-1 li,.footer-widget-column-2 li{
  padding-top:10px;
}
.footer-title,.footer-title-2{
  color:#ffffff;
  font-weight:bold;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}
.textwidget a{
  color:#ffffff;
  text-decoration:none;
}
.copyright{
  width:100%;
  background:#EF8476;
  color:#ffffff;
  padding:15px;
}
.copyright a{
  color:#ffffff;
}
/*Contact Styling starts here*/
.wpcf7-form label{
  color: #55A6A6;
  margin-left:350px;
}
.wpcf7-form-control{
  background:#F0F0F0;
  border:4px solid #F0F0F0;
  border-radius:10px;
  height:40px;
}
.wpcf7-submit{
  background:#55A6A6;
  border-radius:10px;
  border:4px solid #55A6A6;
  color:#ffffff;
  padding:5px;
  margin-left:450px;
  margin-top:20px;
  margin-bottom:100px;
}
/*Widget Side Bar styling section*/
.col-lg-3 ul{
  padding-left:0;
}
.col-lg-3 li{
  list-style-type:none;
  text-align:center;
}
.col-lg-3 a{
  color:#55A6A6;
  text-decoration:none;
}
.widget-title{
  text-align:center;
}
/*Blog content styling*/
.col-lg-9{
margin:0;
padding:0;
}
.card{
  margin:20px;
}
.card-body{
  margin:0;
  padding:0;
}
.card-body img{
  margin:15px;
  padding-top:10px;
  float:left;
  max-width:200px;
  max-height:250px;
}
.blog-content h3{
  margin:15px;
}
.date, .date span{
  font-size:12px;
}
.blog-content p{
  margin:0;
}
.blog-btn-section{
  display:flex;
  float:right;
}
.comment-number{
  font-size:12px;
  position:relative;
  top:25px;
}
.question-anwser-icon{
  font-size:13px;
  color:#EF8476;
}
.btn-success{
  background-color:#55A6A6;
  border-color:#55A6A6;
  margin:15px;
}
.btn-success:hover{
  background-color:#55A6A6;
  border-color:#55A6A6;
}
.previous a,.next a{
  color:#EF8476;
  padding-left:25px;
}
.author{
  font-size:12px;
}
.author-name{
  color:#55A6A6;
}
/*Blog Page Styling*/
.badge{
  text-decoration:none;
  padding:6px;
  margin:20px 5px;
}
.bg-success{
  background-color:#55A6A6 !important;
}
.blog-img{
  display:flex;
  justify-content:center;
  margin-top:25px;
}
.blog-post,.blog-title,.commentlist, #comments,.comment-respond{
  position:relative;
  margin:20px;
  width:70%;
  left:150px;
}
.comment-body{
  margin-top:35px;
}
.commentlist,#comments{
  left:100px;
}
.comment-form a{
  text-decoration:none;
  color:#5BA6A7;
}
.comment-form-comment{
  position:relative;
}
.comment-form-comment label{
  display:none;
}
.commentlist li a{
  color:#5BA6A7;
  text-decoration:none;
  font-style:normal;
}
.comment-meta{
  margin-top:15px;
}
.submit{
  background-color:#55A6A6;
  border:4px solid #55A6A6;
  color:#ffffff;
  border-radius:4px;
}
@media screen and (max-width:1024px){
  nav .top-bar{
    margin:0;
  }
footer .search-form{
    display:none;
    margin:0;
  }
  .wpcf7-form label{
    color: #55A6A6;
    margin-left:150px;
  }
  .wpcf7-submit{
    padding:5px;
    margin-left:270px;
    margin-top:0;
    margin-bottom:0;
  }
}
@media screen and (max-width:480px){
  nav .top-bar{
    display:none;
  }
  .search-form{
    display:none;
  }
  nav .mobile-top-bar{
    list-style:none;
    font-size:15px;
    display:flex;
    margin:0 20px;

  }
  nav .mobile-top-bar li a{
    color:#ffffff;
    text-decoration:none;
    padding:10px;
  }
  footer{
    width:auto;
    height:auto;
  }
  footer .container{
    display:block;
    text-align:center;
    height:auto;
  }
  footer .site-name{
    line-height:80px;
  }
  footer .footer-bar{
    margin:0;
    padding:0;
  }
  footer .search-form{
    display:block;
    margin:0;
  }
  .footer-widget-column-3{
    margin:30px 30px;
  }
  .footer-widget-column-3 .search-button{
      position:relative;
      right:4px;
  }
  .wpcf7-form{
    margin-top:40px;
  }
  .wpcf7-form label{
    margin-left:0;
    padding:5px;
  }
  .wpcf7-form-control{
    width:350px;
  }
  .wpcf7-submit{
  margin:30px 50px;
  width:250px;
  }
  .blog-content h3, .blog-content p,.date{
    text-align:center;
  }
  .date{
    display:block;
  }
  .blog-btn-section{
    justify-content:center;
    float:none;
  }
  .blog-title{
    position:relative;
    left:0;
    width:100%;
  }
  .blog-post{
    margin:0;
    left:0;
    width:100%;
  }
  .author{
    text-align:center;
  }
  .tag-content {
    margin-left:10px;
    margin-right:10px;
  }
  #comments{
    left:0;
    width:100%;
  }
  ol.commentlist{
    left:0;
    font-size:14px;
  }
  .comment-respond{
    left:0;
  }
  textarea#comment{
    width:269px;
  }
}
