header{
  background:#55A6A6;
  width:100%;
  height:35px;
}
.page-wrap{
  padding:2em 0;
}
.widget{
  list-style-type:none;
  margin:0;
  padding:0;
}
nav{
  background:#EF8476;
  width:100%;
  height:75px;
}
nav .container{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  height:100%;
}
nav .top-bar{
  list-style-type:none;
  margin:0 100px;
  padding:0;
  display:flex;
}
nav .top-bar li a{
  padding:25rem 1rem;
  color:#ffffff;
  text-decoration:none;
}
nav .top-bar li:first-child a{
  padding-left:0;
}
nav .top-bar li:last-child a{
  padding-right:0;
}

nav .top-bar li a:hover{
  color:#5BA6A7;
}
.site-name{
  color:#ffffff;
  text-decoration:none;
}
.search-form{
  display:flex;
  margin:0 100px;

}
.search-input{
  border:1px solid #ffffff;
  border-top-left-radius:8px;
  border-bottom-left-radius:8px;

}
.search-input::placeholder{
  padding-left:10px;
}
.search-button{
  color:#ffffff;
  background-color:#5BA6A7;
  border:1px solid #5BA6A7;
}
.header-image{
  width:100%;
}
.header-image img{
  width:100%;
  height:300px;
}
.mobile-top-bar{
  display:none;
}
/*Footer style starts here*/
footer{
  background:#55A6A6;
  width:100%;
}
footer .container{
  display:flex;
  height:100%;
  justify-content:center;
}
footer .site-name{
  margin: 20px 30px;
  line-height:150px;
  vertical-align:middle;
  font-size:20px;
}
footer .footer-bar{
  list-style:none;
  margin:20px 35px;
}
footer .footer-bar li{
  padding-top:5px;
}
footer .footer-bar li a{
  color:#ffffff;
  text-decoration:none;
}
.footer-widget-column-1, .footer-widget-column-2{
  margin:20px 35px;
}
.footer-widget-column-3{
  margin:80px 30px;
}
.footer-widget-column-3 .search-button{
  background:#EF8476;
  border:1px solid #EF8476;
}
.footer-widget-column-1 li,.footer-widget-column-2 li{
  padding-top:10px;
}
.footer-title,.footer-title-2{
  color:#ffffff;
  font-weight:bold;
  display:inline-block;
  overflow:hidden;
  white-space:nowrap;
}
.textwidget a{
  color:#ffffff;
  text-decoration:none;
}
.copyright{
  width:100%;
  background:#EF8476;
  color:#ffffff;
  padding:15px;
}
.copyright a{
  color:#ffffff;
}
/*Contact Styling starts here*/
.wpcf7-form label{
  color: #55A6A6;
  margin-left:350px;
}
.wpcf7-form-control{
  background:#F0F0F0;
  border:4px solid #F0F0F0;
  border-radius:10px;
  height:40px;
}
.wpcf7-submit{
  background:#55A6A6;
  border-radius:10px;
  border:4px solid #55A6A6;
  color:#ffffff;
  padding:5px;
  margin-left:450px;
  margin-top:20px;
  margin-bottom:100px;
}
@media screen and (max-width:1024px){
  nav .top-bar{
    margin:0;
  }
footer .search-form{
    display:none;
    margin:0;
  }
  .wpcf7-form label{
    color: #55A6A6;
    margin-left:150px;
  }
  .wpcf7-submit{
    padding:5px;
    margin-left:270px;
    margin-top:0;
    margin-bottom:0;
  }


}
@media screen and (max-width:480px){
  nav .top-bar{
    display:none;
  }
  .search-form{
    display:none;
  }
  nav .mobile-top-bar{
    list-style:none;
    font-size:15px;
    display:flex;
    margin:0 20px;

  }
  nav .mobile-top-bar li a{
    color:#ffffff;
    text-decoration:none;
    padding:10px;
  }
  footer{
    width:auto;
    height:auto;
  }
  footer .container{
    display:block;
    text-align:center;
    height:auto;
  }
  footer .site-name{
    line-height:80px;
  }
  footer .footer-bar{
    margin:0;
    padding:0;
  }
  footer .search-form{
    display:block;
    margin:0;
  }
  .footer-widget-column-3{
    margin:30px 30px;
  }
  .footer-widget-column-3 .search-button{
      position:relative;
      right:4px;
  }

  .wpcf7-form{
    margin-top:40px;
  }
  .wpcf7-form label{
    margin-left:0;
    padding:5px;
  }
  .wpcf7-form-control{
    width:350px;
  }
  .wpcf7-submit{
  margin:30px 50px;
  width:250px;
  }
}
